<nav class="navbar navbar-default noMargin">
    <ul class="nav navbar-nav">
        <li>
            <a routerLink="main">Home</a>
        </li>
        <li>
            <a routerLink="login">Login</a>
        </li>
        <li>
            <a routerLink="signup">Registro</a>
        </li>
        <li>
            <a routerLink="user">User</a>
        </li>
        <li>
            <a routerLink="userempresa">Empresas</a>
        </li>
        <li>
            <a routerLink="partnersignup">Registro Empresas</a>

        </li>
        <li>
            <a routerLink="maps">Mapa Empresas</a>

        </li>
        <li>
            <a routerLink="home">Nuevos Lanzamientos Spotify</a>

        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
