<nav class="navbar navbar-default noMargin">
    <ul class="nav navbar-nav">
        <li>
            <a routerLink="main">Home</a>
        </li>
        <li>
            <a routerLink="login">Login</a>
        </li>
        <li>
            <a routerLink="signup">Registro</a>
        </li>
        <li>
            <a routerLink="user">User</a>
        </li>
        <li>
            <a routerLink="userempresa">EmpresasPrivate</a>
        </li>
        <li>
            <a routerLink="empresapublic">Empresas</a>
        </li>
        <li>
            <a routerLink="partnersignup">Registro Empresas</a>
            
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>