
        <div class="wrapper">
            <!--header section-->
            <section class="colored-section hero-header">
                <div class="container">

                    <div class="row">
                        <div class="col-l-16 col-s-3">   
                            <div class="brand">
                                <img src="assets/images/logorm.png" alt="image" height="150" width="150" class="centerimg"> 
                                <h5 class="text-white">
                                    Una app para ayudar a las personas a reciclar, dándoles recompensas por hacerlo.

                                </h5>
                                
                                <a routerLink="login" class="btn btn-outline-white btn-round page-scroll">
                                    <i class="icon ion-android-locate"></i>	
                                    Ingresa
                                </a>
                                <a routerLink="signup" class="btn btn-outline-white btn-round page-scroll">
                                    <i class="icon ion-android-person-add"></i>	
                                    Regístrate
                                </a>
                                <a routerLink="partnersignup" class="btn btn-outline-white btn-round page-scroll">
                                    <i class="icon ion-leaf"></i>	                                    Regístrate como Centro
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            
        </div>
