<section class="colored-section hero-header">
<div class="container">
    <h1>Usuario</h1>

        <div class=row>
            <div class="col-m-2 bg-success">
                <br>
                <img src="assets/images/usuario.png" alt="image" height="150" width="150" class="centerimg"> 
                <p class="centertext">Puntos: 99k</p>

            </div>
            <div class="col-md bg-success">

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ultimas Cosas Recicladas</th>
                            <th scope="col">Puntos obtenidos</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th scope="row"> <a>1</a></th>
                            <td>10 kg aluminio</td>
                            <td>650 pts</td>
                        </tr>

                        <tr>
                            <th scope="row"> <a>2</a></th>
                            <td>250 g ropa</td>
                            <td>200 pts</td>
                        </tr>

                        <tr>
                            <th scope="row"> <a>3</a></th>
                            <td>250 g desechos medicos</td>
                            <td>100 pts</td>
                        </tr>

                        <tr>
                            <th scope="row"> <a>4</a></th>
                            <td>250 g plastico</td>
                            <td>125 pts</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

